*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilty */

.fix{
    border: 1px solid red;
}

.d-flex{
    display: flex;
}

/* main */


.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(220,212,206,1) 84%, rgba(0,150,136,1) 84%, rgba(0,150,136,1) 100%, rgba(0,150,136,1) 100%);
}

.row{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

/* content left */

    .col-left{
        width: 39%;
        height: 100%;
    }

    /* utente */

    .utente{
        align-items: center;
        justify-content: space-between;
        background-color: #EAEAEA;
        padding: 10px;
        height: 10%;
    }

    .utente img{
        width: 60px;
        border-radius: 100%;
        vertical-align: middle;
    }

    .icons{
        width: 20%;
        margin-right: 20px;
        justify-content: space-between;
    }

    .icons i{
        font-size: 20px;
        color: #B1B1B1;
    }

    /* notification */

    .notification{
        background-color: #80d3f7;
        align-items: center;
        padding: 15px 20px;
        height: 12%;
    }

    .notification i{
        background-color: white;
        color: #80d3f7;
        font-size: 20px;
        padding: 20px 17px;
        border-radius: 100%;
        margin-right: 7px;
    }

    .notification-mess a{
        color: #7295A1;
    }

    /* search bar */

    .search{
        background-color: #EAEAEA;
        align-items: center;
        padding: 7px;
        height: 7%;
    }

    .search label i{
        background-color: white;
        padding: 10px 40px;
        color: #B1B1B1;
    }

    #search-box{
        width: 100%;
        border: none;
        padding: 10px 0;
    }

    /* contact */
    
    .contact{
        overflow-y: scroll;
        height: calc(100% - (7% + 12% + 10%));
    }

    .img-contact{
        background-color: white;
        padding: 10px 20px;
        align-items: center;
    }

    .img-contact img{
        width: 60px;
        border-radius: 100%;
        margin-right: 20px;
    }

    .contact .img-contact:not(.img-contact:first-child){
        border-top: 1px solid #EAEAEA;
    }

    .text{
        justify-content: space-between;
        width: 100%;
    }

    .text p{
        font-size: 13px;
        color: #cdcccc;
    }

    .hours span{
        font-size: 10px;
        color: #cdcccc;
    }

/* end col-left */


/* content right */

.col-right{
    width: 61%;
}
