*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilty */

.fix{
    border: 1px solid red;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

/* main */


.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(220,212,206,1) 84%, rgba(0,150,136,1) 84%, rgba(0,150,136,1) 100%, rgba(0,150,136,1) 100%);
}

.row{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

/* content left */

    .col-left{
        width: 39%;
        height: 100%;
    }

    /* utente */

    .utente{
        justify-content: space-between;
        background-color: #EAEAEA;
        padding: 10px;
        height: 10%;
    }

    .utente img{
        width: 60px;
        border-radius: 100%;
        vertical-align: middle;
    }

    .icons i{
        font-size: 20px;
        color: #B1B1B1;
        margin-right: 20px;
    }

    /* notification */

    .notification{
        background-color: #80d3f7;
        padding: 15px 20px;
        height: 12%;
    }

    .notification i{
        background-color: white;
        color: #80d3f7;
        font-size: 20px;
        padding: 20px 17px;
        border-radius: 100%;
        margin-right: 7px;
    }

    .notification-mess a{
        color: #7295A1;
    }

    /* search bar */

    .search{
        background-color: #EAEAEA;
        padding: 7px;
        height: 7%;
    }

    .search label i{
        background-color: white;
        padding: 10px 40px;
        color: #B1B1B1;
    }

    #search-box{
        width: 100%;
        border: none;
        padding: 10px 0;
    }

    /* contact */
    
    .contacts{
        overflow-y: scroll;
        height: calc(100% - (7% + 12% + 10%));
    }

    .contacts li:hover{
        opacity: 0.8;
        cursor: pointer;
    }

    .img-contact{
        background-color: white;
        padding: 10px 20px;
    }

    .img-contact img{
        width: 60px;
        border-radius: 100%;
        margin-right: 20px;
    }

    .contact .img-contact:not(.img-contact:first-child){
        border-top: 1px solid #EAEAEA;
    }

    .text{
        justify-content: space-between;
        width: 100%;
    }

    .text p{
        font-size: 13px;
        color: #cdcccc;
    }

    .hours span{
        font-size: 10px;
        color: #cdcccc;
    }

/* end col-left */


/* content right */

    .col-right{
        width: 61%;
        height: 100%;
        border-left: 1px solid #D8D8D8;
        display: none;
    }

    .col-right.active{
        display: block;
    }

    /* chat header */

    .chat-header{
        width: 100%;
        height: 10%; 
        padding: 10px;
        background-color: #EAEAEA;
    }

    .main-contact{
        width: 100%;
    }

    .text-main{
        width: 100%;
        justify-content: space-between;
    }

    .main-contact img{
        width: 60px;
        border-radius: 100%;
        margin-right: 20px;
    }

    .text-main p{
        font-size: 13px;
        color: #7c7c7c;
    }

    /* chat mian */

    .chat-main{
        width: 100%;
        height: 80%;
        overflow-y: scroll;
        background-image: url(../img/mine.jpg);
    }

    .chat-main .send:first-child{
        margin-top: 30px;
    }

    .send{
        width: 80%;
        margin: 0 auto;
        align-items: flex-end ;
        flex-direction: column;
    }
    
    .send .send-mess{
        width: 100%;
        justify-content: space-between;
        background-color: #D5F9BA;
        border-radius: 10px;
    }

    .send p, .received p{
        padding: 13px;
        font-size: 14px;
    }

    .position{
        width: 40%;
        position: relative;
    }

    .position:hover .delete{
        display: block;
        cursor: pointer;
    }

    .delete{
        width: 12%;
        color: #acacac;
        display: none;
    }

    .seen{
        position: absolute;
        right: 2%;
        bottom: 2%;
    }

    .seen span{
        font-size: 9px;
        color: #acacac
    }

    .received{
        width: 80%;
        margin: 0 auto;
        position: relative;
    }
    
    .received .rece-mess{
        background-color: white;
        border-radius: 10px;
    }

    .reci-mess,  .reci-mess p{
        width: 100%;
    }

    /* chat footer */

    .chat-footer{
        width: 100%;
        height: 10%;
        background-color: #EAEAEA;
    }

    .chat-write{
        width: 100%;
        height: 100%;
    }

    .icon{
        width: 15%;
        text-align: center;
    }

    .chat-write .icon i{
        justify-content: center;
        font-size: 20px;
        color: #B1B1B1;
    }
    
    .mess{
        width: 70%;
        justify-content: center;
    }

    .mess input{
        width: 100%;
        appearance: none;
        border: none;
        padding: 18px;
        border-radius: 5px;
    }

/* end content right */

