*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilty */

.fix{
    border: 1px solid red;
}

.d-flex{
    display: flex;
}

/* main */


.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(220,212,206,1) 80%, rgba(0,150,136,1) 80%, rgba(0,150,136,1) 100%, rgba(0,150,136,1) 100%);
}

.row{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

/* content left */

    .col-left{
        width: 40%;
        border-right: 1px solid rgba(220,212,206,1);
    }

    /* utente */

    .utente{
        align-items: center;
        justify-content: space-between;
        background-color: #EAEAEA;
        padding: 10px;
    }

    .utente img{
        width: 60px;
        border-radius: 100%;
        vertical-align: middle;
    }

    .icons{
        width: 20%;
        justify-content: space-between;
    }

    .icons i{
        font-size: 20px;
        color: #B1B1B1;
    }

    /* notification */

    .notification{
        background-color: #80d3f7;
        align-items: center;
        padding: 15px 20px;
    }

    .notification i{
        background-color: white;
        color: #80d3f7;
        font-size: 20px;
        padding: 20px 17px;
        border-radius: 100%;
        margin-right: 7px;
    }

    .notification-mess a{
        color: #7295A1;
    }

/* end col-left */


/* content right */

.col-right{
    width: 61%;
}
