<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <!-- main content -->
        <div class="container">
            <div class="row d-flex">
                <div class="col-left">
                    <div class="utente d-flex align-center">
                        <div class="img-utente">
                            <img src="./img/avatar_io.jpg" alt="mine-avatar">
                            <span>Sofia</span>
                        </div>
                        <div class="icons d-flex">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="notification d-flex align-center">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div class="notification-mess">
                            <p>Ricevi notifnche di nuovi messaggi</p>
                            <p><a href="#">Attiva notifche desktop</a></p>
                        </div>
                    </div>
                    <div class="search d-flex align-center">
                        <label for="search-box"><i class="fa-solid fa-magnifying-glass"></i></label>
                        <input type="search" name="search-box" id="search-box" placeholder="Cerca o inizia una nuova chat" v-model="search" @keyup="searchTask()">
                    </div>
                    <div class="contacts">
                        <ul>
                            <li class="img-contact d-flex align-center" v-for="(elem, index) in searchTask()" @click="selectChat(index)">
                                <img :src="`./img/avatar${elem.avatar}.jpg`" :alt="elem.name">
                                <div class="text d-flex" v-for="(mess, messIndex) in elem.messages">
                                    <div>
                                        {{ elem.name }} 
                                        <p>{{ mess.message}}</p>
                                    </div>
                                    <div class="hours">
                                        <span>{{ mess.date   }}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-right" :class="(contactsActive === index) ? 'active' : ''" v-for="(elem, index) in contacts">
                    <div class="chat-header d-flex align-center" >
                        <div class="main-contact d-flex align-center">
                            <img :src="`./img/avatar${elem.avatar}.jpg`" alt="avatar_1">
                            <div class="text-main d-flex align-center">
                                <div>
                                    {{ elem.name }}
                                    <p>Ultimo accesso oggi alle {{ elem.messages[selectActive].date }}</p>
                                </div>
                                <div class="icons d-flex">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-main">
                        <div v-for="(mess, messIndex) in elem.messages">
                            <div class="send d-flex">
                                <div class="position" v-if="(mess.status === 'sent')">
                                    <div class="send-mess d-flex align-center">
                                        <p>{{ mess.message }}</p>
                                        <div class="delete d-flex">
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            <div class="accordion-send">
                                                <p>Message info</p>
                                                <p @click="removeMessage(messIndex)">Delete message</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="seen">
                                        <span>{{ mess.date }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="received">
                                <div class="position" v-if="(mess.status === 'received')">
                                    <div class="rece-mess d-flex align-center">
                                        <div class="reci-mess d-flex align-center">
                                            <p>{{ mess.message }}</p>
                                            <div class="delete d-flex">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                <div id="accordion-rece">
                                                    <p>Message info</p>
                                                    <p @click="removeMessage(messIndex)">Delete message</p>
                                                </div>
                                            </div>                                
                                        </div>                                        
                                    </div>
                                    <div class="seen">
                                        <span>{{ mess.date }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-footer">
                        <div class="chat-write d-flex align-center">
                            <div class="icon">
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <div class="mess d-flex">
                                <input type="text" name="text" id="" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage(), timeOut()">
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.1/luxon.min.js" integrity="sha512-hZKz8wkgOcWeZanRioE6H6AC3OJspzJQyDBB5jLoZ1jIKbYDt5MwVIvU703WwE4sjvKZw9uNmmYlt29xKS27RA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>